<h1> New Listing </h1>
<%= form_for :listing, url: listings_path do |f| %>
  <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
  </p>

  <p>
      <%= f.label :time %><br>
      <%= f.text_field :time %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
