<h1 style="margin-left: 10%;margin-top: 5%">All Users</h1>
<% @users.each_with_index do |user, i|%>
	<div style="width:25%;border:solid;border-color:#ADD8E6;border-width: 2px;border-radius: 25px;margin-left: 10%;margin-top: 2.5%;padding-left: 2.5%;padding-top: 2.5%">
		<h2>User <%= i + 1 %></h2>
		<h3>Name: </h3><p><%= user.name %></p>
		<h3>Bio: </h3><p><%= user.bio %></p>
		<h3>Zip Code: </h3><p><%= user.zip %></p>
	</div>
	<% end %>
	<div style="margin-left: 10%;margin-top: 2.5%;margin-bottom: 2.5%"><%= button_to "New User", { :action => "new" }, :method => :get %></div>